<div id="ss_use"  style="padding:30px 0px">
    <div class="picWrap">
        <img class="pic" src="./assets/images/slogin.png" alt="">
    </div>
    <div class="conplain">
        <p>
            本着降低开发门槛的目的，我尝试了摒弃各种前端工具，甚至是HTML、CSS的编写
        </p>
        <p>
            对项目的js文件进行模块化管理，特别是内置的layout布局/munu菜单/router路由等模块，可以快速生成基础SPA项目
        </p>
        <p>
            可以说，她是为服务端开发人员量身定做，只需专注于JS的配置，从而达到由数据去驱动渲染，让你的页面更加信手捏来
        </p>
    </div>
    <div id="ss_use_first"></div>

</div>

<style>
    #ss_use .picWrap{
        width: calc(100% - 50px);
        text-align: center;
    }
    #ss_use .pic{
        width: 40%;
    }
    #ss_use .conplain{
        background-color: #f2f2f2;
        width: calc(100% - 50px);
        padding: 10px;
        border-radius: 5px;
    }
    #ss_use p{
        font-size: 14px;
        padding: 10px 0px;
        color: rgb(49, 70, 89);
    }
    #ss_use_first{
        margin-top: 30px;
    }
</style>